@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome, firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.nodeIconDelMenuBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 12px;
  color: #666;
  font-family: "Microsoft Yahei";
  z-index: 210;
}
.nodeIconDelMenuBox .nodeIconDelMenu {
  position: absolute;
  width: 80px;
  line-height: 30px;
  border: 1px solid #ddd;
  background: #fff;
  display: none;
}
.nodeIconDelMenuBox .nodeIconDelMenu div {
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.nodeIconDelMenuBox .nodeIconDelMenu div::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-family: "iconfont";
  font-size: 16px;
  text-align: center;
  content: "";
}
.nodeIconDelMenuBox .nodeIconDelMenu div.delIcon::before {
  content: "\e628";
  color: red;
}
.nodeIconDelMenuBox .nodeIconDelMenu div:hover {
  color: red;
}
.leftIconCopy {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 12px;
  color: #333;
  font-family: "Microsoft Yahei";
}
.leftIconCopy .addJsPlumb {
  position: absolute;
  z-index: 210;
  width: 143px;
  height: 18px;
  line-height: 18px;
  padding-left: 26px;
  cursor: move;
}
.leftIconCopy .addJsPlumb::before {
  position: absolute;
  display: block;
  border-radius: 3px;
  background: #0190d4;
  content: "\e615";
  font-family: "iconfont";
  left: 0;
  top: 0;
  color: #fff;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}
.leftIconCopy .addJsPlumb.process::before {
  background: #0190d4;
}
.leftIconCopy .addJsPlumb.process.start::before {
  content: "\e616";
}
.leftIconCopy .addJsPlumb.process.time::before {
  content: "\e617";
}
.leftIconCopy .addJsPlumb.process.wait::before {
  content: "\e618";
}
.leftIconCopy .addJsPlumb.screen::before {
  background: #f90;
}
.leftIconCopy .addJsPlumb.screen.orderSearch::before {
  content: "\e61d";
}
.leftIconCopy .addJsPlumb.screen.memberSearch::before {
  content: "\e619";
}
.leftIconCopy .addJsPlumb.screen.split::before {
  content: "\e61a";
}
.leftIconCopy .addJsPlumb.screen.merge::before {
  content: "\e61c";
}
.leftIconCopy .addJsPlumb.screen.intersection::before {
  content: "\e61e";
}
.leftIconCopy .addJsPlumb.screen.exclude::before {
  content: "\e61b";
}
.leftIconCopy .addJsPlumb.userGroup::before {
  background: #f85b5f;
}
.leftIconCopy .addJsPlumb.userGroup.validMember::before {
  content: "\e61f";
}
.leftIconCopy .addJsPlumb.userGroup.allMember::before {
  content: "\e621";
}
.leftIconCopy .addJsPlumb.userGroup.invalidMember::before {
  content: "\e620";
}
.leftIconCopy .addJsPlumb.discount::before {
  background: #3fa107;
}
.leftIconCopy .addJsPlumb.discount.coupon::before {
  content: "\e622";
}
.leftIconCopy .addJsPlumb.send::before {
  background: #cc69cc;
}
.leftIconCopy .addJsPlumb.send.sms::before {
  content: "\e623";
}
.leftIconCopy .addJsPlumb.send.edm::before {
  content: "\e624";
}
.leftIconCopy .addJsPlumb.report::before {
  background: #5bacf8;
}
.leftIconCopy .addJsPlumb.report.reportActivity::before {
  content: "\e626";
}
.leftIconCopy .addJsPlumb.report.realtimeActivity::before {
  content: "\e604";
}
.marketingPlan {
  border: 1px solid #dadada;
  padding: 0;
  margin: 0;
  height: 900px;
  position: relative;
  background: #f5f5f5;
  font-size: 12px;
  line-height: 150%;
  font-family: "Microsoft Yahei";
}
.marketingPlan .marketingBoxTopTitleBox {
  height: 36px;
  line-height: 36px;
  background: url("../images/marketingPlanTitleBg.gif") left top repeat-x;
  border-bottom: 1px solid #dadada;
  color: #666;
  padding-left: 10px;
}
.marketingPlan .marketingBoxTopTitleBox button {
  height: 24px;
  line-height: 24px;
  background: #0190d4;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-right: 10px;
  padding: 0 10px 0 24px;
  position: relative;
}
.marketingPlan .marketingBoxTopTitleBox button::before {
  display: block;
  position: absolute;
  left: 2px;
  top: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-family: "iconfont";
  font-style: 12px;
  color: #fff;
  content: "";
}
.marketingPlan .marketingBoxTopTitleBox button.goTest::before {
  content: "\e62a";
}
.marketingPlan .marketingBoxTopTitleBox button.goStart::before {
  content: "\e629";
}
.marketingPlan .marketingBoxTopTitleBox button.goRestart::before {
  content: "\e627";
}
.marketingPlan .marketingBoxTopTitleBox button.menuOff {
  background: #c8c8c8;
}
.marketingPlan .marketingBoxTopTitleBox .stateInfo {
  height: 36px;
  line-height: 36px;
  float: right;
  padding-right: 20px;
}
.marketingPlan .marketingPlanLeft {
  position: absolute;
  width: 193px;
  height: 898px;
  border-right: 1px solid #dadada;
  left: 0;
  top: 0;
  background: #fff;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox {
  padding: 10px;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #333;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li {
  display: block;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle {
  padding: 0 0 0 20px;
  margin: 0;
  position: relative;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle::before {
  position: absolute;
  display: block;
  content: "\e615";
  font-family: "iconfont";
  left: 0;
  top: 0;
  color: #333;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  text-align: center;
  transform: scale(0.5) rotate(90deg);
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle strong {
  display: block;
  font-weight: normal;
  margin-bottom: 10px;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul {
  margin: 0;
  padding: 0 0 0 10px;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li {
  display: block;
  height: 18px;
  line-height: 18px;
  margin-bottom: 12px;
  position: relative;
  padding-left: 26px;
  cursor: default;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li::before {
  position: absolute;
  display: block;
  border-radius: 3px;
  background: #0190d4;
  content: "\e615";
  font-family: "iconfont";
  left: 0;
  top: 0;
  color: #fff;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.process::before {
  background: #0190d4;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.process.start::before {
  content: "\e616";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.process.time::before {
  content: "\e617";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.process.wait::before {
  content: "\e618";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.screen::before {
  background: #f90;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.screen.orderSearch::before {
  content: "\e61d";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.screen.memberSearch::before {
  content: "\e619";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.screen.split::before {
  content: "\e61a";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.screen.merge::before {
  content: "\e61c";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.screen.intersection::before {
  content: "\e61e";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.screen.exclude::before {
  content: "\e61b";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.userGroup::before {
  background: #f85b5f;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.userGroup.validMember::before {
  content: "\e61f";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.userGroup.allMember::before {
  content: "\e621";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.userGroup.invalidMember::before {
  content: "\e620";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.discount::before {
  background: #3fa107;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.discount.coupon::before {
  content: "\e622";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.send::before {
  background: #cc69cc;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.send.sms::before {
  content: "\e623";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.send.edm::before {
  content: "\e624";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.report::before {
  background: #5bacf8;
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.report.reportActivity::before {
  content: "\e626";
}
.marketingPlan .marketingPlanLeft .marketingPlanIconBox ul.iconBox li.groupTitle ul li.report.realtimeActivity::before {
  content: "\e604";
}
.marketingPlan .marketingPlanRight {
  padding-left: 203px;
  height: 898px;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox {
  height: 898px;
  border-left: 1px solid #dadada;
  background: #fff;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox {
  position: relative;
  height: 863px;
  overflow: scroll !important;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon {
  box-shadow: 2px 2px 19px #aaa;
  border-radius: 5px;
  opacity: 1;
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  z-index: 20;
  position: absolute;
  background-color: #eeeeef;
  color: black;
  font-family: helvetica, sans-serif;
  font-size: 12px;
  transition: box-shadow 0.15s ease-in;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon h5 {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100px;
  height: 30px;
  line-height: 15px;
  text-align: center;
  left: -25px;
  bottom: -35px;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  color: #666;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon .mask {
  position: absolute;
  width: 80px;
  height: 50px;
  top: 0;
  left: -15px;
  display: none;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon .mask.openMask {
  display: block;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon:hover {
  box-shadow: 2px 2px 19px #444;
  opacity: 0.6;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon::before {
  position: absolute;
  display: block;
  border-radius: 5px;
  background: #0190d4;
  content: "\e615";
  font-family: "iconfont";
  left: 0;
  top: 0;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 35px;
  text-align: center;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.process::before {
  background: #0190d4;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.process.start::before {
  content: "\e616";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.process.time::before {
  content: "\e617";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.process.wait::before {
  content: "\e618";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.screen::before {
  background: #f90;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.screen.orderSearch::before {
  content: "\e61d";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.screen.memberSearch::before {
  content: "\e619";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.screen.split::before {
  content: "\e61a";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.screen.merge::before {
  content: "\e61c";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.screen.intersection::before {
  content: "\e61e";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.screen.exclude::before {
  content: "\e61b";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.userGroup::before {
  background: #f85b5f;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.userGroup.validMember::before {
  content: "\e61f";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.userGroup.allMember::before {
  content: "\e621";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.userGroup.invalidMember::before {
  content: "\e620";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.discount::before {
  background: #3fa107;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.discount.coupon::before {
  content: "\e622";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.send::before {
  background: #cc69cc;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.send.sms::before {
  content: "\e623";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.send.edm::before {
  content: "\e624";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.report::before {
  background: #5bacf8;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.report.reportActivity::before {
  content: "\e626";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.report.realtimeActivity::before {
  content: "\e604";
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon::after {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  content: "";
  background: #fff;
  font-family: "iconfont";
  right: -8px;
  bottom: -8px;
  line-height: 20px;
  font-size: 20px;
  text-align: left;
  transform: scale(0.75);
  visibility: hidden;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.runOk::after {
  color: #32c300;
  content: "\e625";
  visibility: visible;
}
.marketingPlan .marketingPlanRight .marketingPlanRightBox .jsPlumbBox .jsPlumbIcon.runNo::after {
  color: #f90;
  content: "\e627";
  visibility: visible;
}
.modal-dialog {
  font-family: "Microsoft Yahei";
}
